nav {
    background-color: blueviolet;
    text-align: right;
    height: 70px;
}

nav a {
    color: white;
    font-size: 20px;
    padding: 0 7px;
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    align-items: center;

}

nav a:hover {
    color: aqua;
}